

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 85px;
    background-color: #000;
    color: #fff;
}
.logo{
    width: 10%;
}
.nav span{
   font-size: 40px;
}
.pro{
    color: #FCDD06;
}
.search{
    width: 40%;
}
.icons{
    width: 15%;
}
.nav ul{
   list-style: none; 
   
}
ul li {
    display: inline;
    margin-right: 3rem;
}
.search-btn{
    width: 20%;
    height: 40px;
    background-color: #FCDD06;
    color: black;
    border: none;
    border-radius: 5px;
    margin-left: -10px;
}
.input-search{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: none;
}
.input-search:focus{
    border: none;
    outline: none;
}